html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    border:0;
}
*,
*::after,
*::before {
    box-sizing:inherit;
}
img {
  max-width: 100%;
  display: block;
}
body._lock {
  overflow: hidden;
}
body {
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
}
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border:none;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
    background-color: transparent;
}
.orange-span {
    color: rgb(255, 123, 49);
}
.container {
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 30px 0 62px 0;
}
.header__logo {
    margin-right: 193px;
}
.menu__btn {
  display: none;
  width: 33px;
  height: 26px;
  position: relative;
  cursor: pointer;
}
.menu__btn::before,
.menu__btn::after,
.menu__btn span {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  margin: auto;
  background-color:#FF7B31;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.menu__btn::before {
  top: 0;
  left: 0;
}
.menu__btn span {
  top: 11px;
  left: 0;
}
.menu__btn::after {
  bottom: 0;
  left: 0;
}
.menu__btn.active::before{
  top: 11px;
  rotate: 45deg;
  left: 0;
}
.menu__btn.active span {
  width: 0;
  left: 0;
}
.menu__btn.active::after {
  bottom: 11px;
  rotate: -45deg;
  left: 0;
}
.menu__list {
    display: flex;
    gap: 0 40px;
    color: #1d1d1d;
    line-height: 22px;
    align-items: center;
}
.menu__item-link:hover {
    color: rgb(255, 123, 49);
}
.menu__list .menu__item:last-of-type {
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.header__phone-btn {
  width: 237px;
  color: #fff;
  height: 56px;
  font-weight: 500;
  font-family: 'Inter';
  line-height: 19px;
  text-align: center;
  padding: 18px 22px 18px 50px;
  background-color: rgb(255, 123, 49);
  border-radius: 32px;
  display: block;
  position: relative;
}
.header__phone-btn::before {
    background-image: url(../../images/phone.svg);
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    left: 40px;
}
.header__phone-btn:hover {
    background-color: #EB671D;
}
.header__phone-btn:active {
    background-color: #FFC177;
}
.language__menu {
    font-family: 'Inter';
    font-weight: 500;
    line-height: 19px;
    color: rgb(215, 215, 215);
}

.language__menu-ua.active {
    color: rgb(255, 123, 49);
}
.language__menu-ru.active {
    color: rgb(255, 123, 49);
}
.language__menu-ua:hover,
.language__menu-ru:hover {
    color: rgb(255, 123, 49);
}
.hero {
    padding-top: 110px;
    padding-bottom: 70px;
}
.hero__inner {
    display: flex;
    justify-content: space-between;
}
.hero__content-left {
    max-width: 830px;
    width: 100%;
    padding: 0;
    position: relative;
}
.hero__content-left::before {
    background-image: url(../../images/hero-leftbg.svg);
    position: absolute;
    content: '';
    top: -12px;
    left: 0;
    width: 279px;
    height: 100px;
}
.hero__title {
    text-align: left;
    margin: 0;
    padding: 0;
    color:rgb(68, 119, 119);
    font-size: 70px;
    font-weight: 800;
    line-height: 1;
    position: relative;
}
.hero__title-subtitle {
    color: rgb(255, 123, 49);
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 30px 0;
}
.hero__title-text {
    color: rgb(29, 29, 29);
    font-size: 16px;
    font-weight: 400;
    max-width: 378px;
    width: 100%;
    margin: 0 0 60px 0 ;
}
.hero__list {
    display: flex;
    align-items:center;
    gap: 0 24px;
    margin-bottom: 110px;
}

.hero__list-order {
    width: 237px;
    height: 68px;
    font-weight: 500;
    font-family: 'Inter';
    line-height: 19px;
    text-align: center;
    padding: 16px 22px 16px 22px;
    background-color: rgb(255, 123, 49);
    border-radius: 32px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero__list-order::after {
    background-image: url(../../images/arrow.svg);
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 33px;
}
.hero__list-order:hover {
    background-color: #EB671D;
}
.hero__list-order:active {
    background-color: #FFC177;
}
.hero__list-advice {
    color: rgb(29, 29, 29);
    font-family: 'Inter';
    font-weight: 500;
    line-height: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 57px;
}
.hero__list-advice:hover {
    color: rgb(235, 103, 29);
}
.hero__list-advice:active {
    color: rgb(255, 193, 119);
}
.hero__list-advice::before {
    background-image: url(../../images/talk-icon.svg);
    content:'';
    position: absolute;
    width: 49px;
    height: 49px;
    left: 0;
}
.hero__list-advice:hover::before {
    background-image: url(../../images/talk-icon-hover.svg);
}
.hero__list-advice:active::before {
    background-image: url(../../images/talk-icon-active.svg);
}
.hero__list-advice::after {
    background-image: url(../../images/advice-arrow.svg);
    content:'';
    position: absolute;
    width: 6px;
    height: 10px;
    right: -13px;
}
.hero__list-advice:hover::after{
    background-image: url(../../images/advice-arrow-hover.svg);
    width: 13px;
    height: 13px;
}
.hero__list-advice:active::after{
    background-image: url(../../images/advice-arrow-active.svg);
    width: 13px;
    height: 13px;
}
.hero__social-title {
    color: rgb(68, 119, 119);
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}
.hero__social-list {
    display: flex;
    gap: 0 22px;
    margin-top: 10px;
}
.hero__inner {
    position: relative;
}
.hero__inner::before {
    background-image: url(../../images/hero-right-bg.svg);
    position: absolute;
    content:'';
    width: 843px;
    height: 723px;
    top: -53px;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* .hero__content-right {
    position: absolute;
    background-image: url(../../images/rigth-block-img.png);
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 877px;
    width: 100%;
}  */
.content-right {
  position: absolute;
  top: 0;
  right: 0;
}

/* .hero__content-right {
    position: absolute;
    background-image: url(../../images/hero-right1.png);
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;

    right: 0;
    bottom: 0;
    max-width: 877px;
    width: 100%;
}
.hero__content-right::before {
    background-image: url(../../images/hero-right2.png);
    position: absolute;
    content:'';
    right: 650px;
    bottom: 0;
   
    width: 235px;
    height: 255px;
    z-index: -1;
} */

.works {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.works::before {
    background-image: url(../../images/work-bg.png);
    content: '';
    position: absolute;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 968px;
    height: 830px;
    text-align: center;
    z-index: -1;
}
.works__inner {
    width: 100%;
    padding: 60px 0;
    border-radius: 64px;
    box-shadow: 0px 0px 25px 0px rgba(60, 89, 89, 0.1);
    background: rgb(249, 249, 249);
}
.works__title {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.3;
    color: rgb(68, 119, 119);
    margin: 0 0 52px 0;
}
.works__content {
    padding-bottom: 74px;
    display: flex;
    justify-content: center;
    position: relative;
}
.works__slider {
    width: 1265px;
    overflow: hidden;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
 text-align: center;
}
.swiper-pagination-bullet {
    background-color:rgb(255, 193, 119);
    width: 53px;
     height: 5px;
    border-radius:5px;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color:rgb(255, 123, 49);
    width: 55px;
    height: 5px;
}

.blog__button {
    background-image: url(../../images/arrow-slider-default.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    content: '';
    width: 44px;
    height: 44px;
    bottom: 0;
    z-index: 12;
}
.btn-prev {
    transform: translateX(-275px) scale(-1, 1);  
}
.blog__button.btn-prev:hover {
    background-image: url(../../images/arrow-slider-hover.svg);
    transform: translateX(-275px) scale(-1, 1);
}
.blog__button.btn-prev:active {
    background-image: url(../../images/arrow-slider-active.svg);
    transform: translateX(-275px) scale(-1, 1);
}
.btn-next {
    transform: translateX(275px);
}
.btn-next:hover {
    background-image: url(../../images/arrow-slider-hover.svg);
    transform: translateX(275px);
}
.btn-next:active {
    background-image: url(../../images/arrow-slider-active.svg);
    transform: translateX(275px);
}
.blog__button.btn-next.swiperNext.swiper-button-disabled {
    background-image: url(../../images/arrow-slider-pasive.svg);
    transform: translateX(275px) scale(-1, 1);
}
.blog__button.btn-prev.swiperPrev.swiper-button-disabled {
    background-image: url(../../images/arrow-slider-pasive.svg);
    transform: translateX(-275px);
}

/* advantages */

.advantages {
    padding-top: 70px;
    padding-bottom: 70px;
}
.advantages__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.advantages__left-box img {
    max-width: 100%;
}
.advantages__content {
    flex-basis: 750px;
}
.advantages__content-title {
font-size: 38px;
font-weight: 700;
line-height: 1.3;
color:rgb(68, 119, 119);
}
.advantages__content-subtitle {
    color: rgb(29, 29, 29);
  margin-bottom: 60px;
}
.advantages__content-list {
    padding: 0;
}
.advantages__content-item {
    padding: 20px 30px 20px 120px;
    margin: 0 0 20px 0;
    border-radius: 32px;
    background: rgb(249, 249, 249);
    position: relative;
}

.master-item::before {
    background-image: url(../../images/master-icon.svg);
}
.quality-item::before {
    background-image: url(../../images/quality-icon.svg);
}
.hand-made-item::before {
    background-image: url(../../images/hand-made-icon.svg);
}
.master-item::before,
.quality-item::before,
.hand-made-item::before {
    content:'';
    position: absolute;
    width: 66px;
    height: 66px;
    top: 35px;
    left: 30px;
}
.advantages__content__item-title {
    color: rgb(29, 29, 29);
    font-size: 22px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 5px;
        position: relative;
}
.advantages__content__item-text {
    color: rgb(109, 109, 109);
}

/* STEPS SECTION */
.steps {
    padding-top: 70px;
    padding-bottom: 70px;
}
.decor-bg {
    background: rgba(136, 183, 183, 0.85);
    position: relative;
    border-radius: 32px;
    padding-top: 70px;
    padding-bottom: 70px;
}
.decor-bg::before {
    background-image: url(../../images/steps-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 32px;
}
.steps__title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 38px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 52px;
    position: relative;
    z-index: 1;
}
.steps__title::before {
    background-image: url(../../images/step-title-bg.svg);
    content:'';
    position: absolute;
    width: 145px;
    height: 57px;
    z-index: -1;
}
.steps__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}
.steps__inner-decor::before {
    background-image: url(../../images/step-inner-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    content:'';
    position: absolute;
    top: -90px;
    bottom: 44px;
    left: 0;
    right: 0;
    z-index: -1;
}
.steps__list {
    display: grid;
    grid-template-columns: auto auto /* repeat(2, 1fr) */;
    justify-items: center;
    align-items:center;
    margin-bottom: 30px;
}
.step__list-content {
    gap: 20px 20px;
    counter-reset: number;
}
.steps__item {
    padding: 36px 56px 36px 172px;
    border-radius: 32px;
    background: rgb(255, 255, 255);
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 187px;
    height: 100%;

}
.steps__item::before {
    counter-increment: number;
    content: "0" counter(number);
    position: absolute;
    left: 54px;
    font-size: 70px;
    font-family: 'Open Sans';
    font-weight: 800;
    line-height: 1;
    color: rgb(249, 249, 249);
}
.steps__item:nth-child(n+10):before {
    content:counter(number); /* когда число перейдёт за 10, чтобы не было 010 */
}

.steps__item-title {
    color: rgb(255, 123, 49);
    font-size: 22px;
    font-weight: 700;
    line-height: 1.1;
}
.steps__item-text {
    color: rgb(109, 109, 109);
    max-width: 404px;
    width: 100%;
}

.steps__btn {
    max-width: 1263px;
    width: 100%;
    height: 68px;
    padding: 22px 38px 22px 38px;
    border-radius: 32px;
    background: rgb(255, 123, 49);
    color: rgb(255, 255, 255);
    font-family: 'Inter';
    font-weight: 500;
    line-height: 19px;
}
.steps__btn::after {
    background-image: url(../../images/arrow.svg);
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
}
.steps__btn:hover {
    background-color: #EB671D;
}
.steps__btn:active {
    background-color: #FFC177;
}

/* materials */

.materials {
    padding-top: 70px;
    padding-bottom: 70px;
}
.materials__title {
    text-align: center;
    color: rgb(68, 119, 119);
    font-size: 38px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 52px;
}
.materials__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 20px;
    justify-items: center;
}
.materials__card {
    border-radius: 32px;
    background: rgb(249, 249, 249);
}
.materials__card img {
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    max-width: 365px;
    width: 100%;
}
.materials__card-text {
    color: rgb(68, 119, 119);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 33px;
}

/* Rewiev section */

.rewiev {
    padding-top: 70px;
    background: rgb(249, 249, 249);
}
.rewiev__title {
    text-align: center;
    margin-bottom: 52px;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    color:rgb(68, 119, 119);
}
.rewiev__inner {
  margin-bottom: 50px;
}
.rewiev__inner-content {
    display: flex;
    justify-content: center;
    padding-bottom: 74px;
    position: relative;
}
.rewiev__slider {
    width: 1520px;
    overflow: hidden;
}
.rewiev__swiper-pagination {
   position: absolute;
}
.rewiev__bottom-list {
    display: flex;
    justify-content: space-between;
    background: rgb(255, 123, 49);
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 700;
    padding: 24px 130px;
}
.rewiev__bottom-item__link{
    position: relative;
}
.rewiev__bottom-item__link::before {
    position: absolute;
    background-image: url(../../images/rewiev-social.svg);
    content: '';
    width: 44px;
    height: 44px;
    left: -57px;
    top: 0;
}
.rewiev__inner-link {
  display: none;
}
.dnwork {
    padding-top: 140px;
    padding-bottom: 90px;
}
.dnwork__title {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    color: rgb(68, 119, 119);
    text-align: center;
    margin-bottom: 52px;
}
.dnwork__inner {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0 20px;
}
.dnwork__card {
    border-radius: 32px;
    background: rgb(249, 249, 249);
}
.dnwork__card img {
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    max-width: 493px;
    width: 100%;
}
.dnwork__card-bottom {
    padding: 30px 30px 40px 30px;
}
.dnwork__card-title{
    color: rgb(68, 119, 119);
    font-size: 22px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    max-width: 493px;
    margin-bottom: 20px;
    text-align: left;
}
.dnwork__card-text {
    color: rgb(109, 109, 109);
    text-align: left;
    max-width: 433px;
}
/* send section */
.send {
  position: relative;
  background-image: url(../../images/send-right-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-color: rgba(136, 183, 183, 0.7);
}

 .send::before {
    background-image: url(../../images/send-paper.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.send__inner {
  display: flex;
}
.send__inner-left {
  max-width: 693px;
  padding: 50px 0;
  z-index: 1;
}
.form__textarea {
    resize: none;
    width: 100%;
    height: 170px;
    padding: 18px 30px;
    border-radius: 16px;
    background: #fff;
    color: rgb(29, 29, 29);
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0;
    margin-bottom: 30px;
}
.send__left-subtitle {
    color: #fff;
    }

.send__left-title {
    color: rgb(255, 255, 255);
    font-size: 38px;
    font-weight: 700;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 6px;
   /*  max-width: 693px; */
}

.send__form {
    width: 493px;
    padding-top: 40px;
}

.send__form-name {
    background-color: #fff;
    border:none;
    width: 100%;
    padding: 18px 30px;
    color: rgb(29, 29, 29);
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0;
    border-radius: 16px;
    margin-bottom: 10px;
}
.send__form-phone {
    background-color: #fff;
    border:none;
    width: 100%;
    padding: 18px 30px;
    color: rgb(29, 29, 29);
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0;
    border-radius: 16px;
    margin-bottom: 10px;
}
.form__load-area {
    display: flex;
    margin-bottom: 10px;
}

.form__load-file {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}
.form__load-file + .form__label-file {
 /*    display: inline-block; */
    border-radius: 16px;
    background-color: #fff;
    width: 108px;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.form__load-file:focus + .form__load-file,
.form__load-file + .form__label-file:hover {
    background: rgb(215, 215, 215);
}
.form__file-name {
    max-width: 365px;
    width: 100%;
    height: 60px;
    border-radius: 16px;
    background: #fff;
    color: rgb(29, 29, 29);
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0;
    text-align: left;
    margin-left: 20px;
    padding: 18px 30px 18px 30px;
}
.form__label {
    display: inline-block;
    margin-bottom: 17px;
    position: relative;
}
.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
    padding-left: 20px;
}
.check-style {
    position: absolute;
    width: 20px;
    height: 20px;
    content: '';
    background-image: url(../../images/chex-style.svg);
}

.checkbox:checked +.check-style::before{
    content:'';
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../../images/cheked.svg);
}
.checkbox:focus + .check-style {
   box-shadow: 0 0 0 2px #fff;
   border-radius: 5px;
}
/*.checkbox:disabled +.check-style{
    border: 1px solid #ccc;
    background: #ccc;
}
 .checkbox:disabled +.check-style::before{
    
}
 */
.checkbox__text {
    color: #fff;
    padding-left: 38px;
}
.send__btn {
    max-width: 493px;
    width: 100%;
    height: 68px;
    border-radius: 32px;
    background: rgb(255, 123, 49);
    color: #fff;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}
.send__btn:hover {
    background-color: #EB671D;
}
.send__btn:active {
    background-color: #FFC177;
}
.send__btn::after {
    background-image: url(../../images/arrow.svg);
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
}
/* opt */

.opt {
    padding-top: 140px;
    padding-bottom: 140px;
}
.opt__bg {
    position: relative;

}
.opt__bg::before {
    background-image: url(../../images/opt-bg.png);
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    left: 0px;
    top: -160px;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.opt__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.opt__left-box img {
    max-width: 100%;
}
.opt__content {
    flex-basis: 750px;
}
.opt__content-title {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.3;
  color:rgb(68, 119, 119);
}
.opt__content-subtitle {
    color: rgb(29, 29, 29);
    margin-bottom: 20px;

}
.opt__content-list {
    margin-bottom: 40px;
}
.opt__content-list li:nth-child(2){
  padding-top: 24px;
  padding-bottom: 24px;
}
.opt__content-item {
    position: relative;
    padding: 20px 30px 20px 120px;
    margin: 0 0 20px 0;
    border-radius: 32px;
    background: rgb(249, 249, 249);
}

.opt-reklama::before {
    background-image: url(../../images/reklama-opt.svg);
}
.opt-price::before {
    background-image: url(../../images/opt-price.svg);
}
.opt-star::before {
    background-image: url(../../images/opt-star.svg);
}
.opt-reklama::before,
.opt-star::before {
    content:'';
    position: absolute;
    width: 66px;
    height: 66px;
    top: 40px;
    left: 30px;
}
.opt-price::before {
    content: '';
    position: absolute;
    width: 66px;
    height: 66px;
    top: 20px;
    left: 30px;
}
.opt__content__item-title {
    color: rgb(29, 29, 29);
    font-size: 22px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 5px;
}
.opt__content__item-text {
    color: rgb(109, 109, 109);
}
.opt__btn {
    border-radius: 32px;
    background: rgb(68, 119, 119);
    position: relative;
    max-width: 750px;
    width: 100%;
    height: 68px;
    padding: 22px 38px 22px 38px;
    color: #fff;
    font-family: 'Inter';
    font-weight: 500;
    line-height: 19px;
}
.opt__btn::after {
    background-image: url(../../images/arrow.svg);
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
}
.opt__btn:hover {
   background-color:  rgb(136, 183, 183);
}
.opt__btn:active {
    background-color:  rgb(136, 183, 183);
    color: rgb(68, 119, 119);
}
.opt__btn:active::after {
    background-image: url(../../images/arrow-active-opt.svg);
}
.footer {
    padding: 70px 0 100px 0;
    background: rgb(255, 123, 49);
}
.footer__inner {
    display: flex;
    justify-content: space-between;
}
.footer__social__mobil-list {
  display: none;
}
.footer__copy{
    margin-top: 237px;
    color: #fff;
    text-align: left;
}
.desinger {
  color: #fff;
}
.desinger a:hover {
  filter: drop-shadow(#fff 3px 3px 10px);
}
.footer__nav-list {
    color: #fff;
    line-height: 22px;
    text-align: left;
}
.footer__nav-item {
    margin-bottom: 10px;
}
.footer__nav-item__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.1;
    text-align: left;
    margin-bottom: 18px;
}
.footer__contact-list {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans';
}
.footer__contacts-list__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 18px;
}
.footer__contact-item {
    margin-bottom: 6px;
}
.footer__social-list {
    margin-top: 146px;
    display: flex;
    gap: 0 24px;
}

/* media screen */
@media (max-width: 480px) {
  .menu__btn {
    display: block;
    z-index: 6;
  }
  .menu__list {
    display: none;
  }
  .menu__list-mobile {
    transform: translateY(-100%);
      position: fixed;
      top: 0;
      left: 0;
      right: auto;
      width: 100%;
      margin: 0 auto;
      background-color: #fff;
      display: block;
      text-align: center;
      padding-top: 85px;
      transition: transform 0.7s;
      z-index: 5;
    }
    .menu__list-mobile .menu__item-mobil:last-of-type {
          flex-direction: column-reverse;
          border: none;
    }
  .menu__list-mobile.open {
      transform: translateY(0%);
    }
    .menu__item-mobil {
      padding: 24px 0;
      border-bottom: 1px solid #d7d7d7;
      width: 390px;
      margin: 0 auto;
    }
    .header__phone-btn {
      margin: 0 auto;
    }
    .language__menu {
     margin: 12px 0 6px 0;
    }
    .hero {
      padding: 0 0 100px 0;
    }
    .hero__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px 0;
    }
    .hero__inner::before {
      content: none;
    }
    .content-right {
      position: static;
    }
    .hero__content-left::before {
      background-image: url(../../images/hero-left-S.svg);
      top: 0px;
      left: 0;
      width: 112px;
      height: 32px;
    }

    .hero__content-left::after {
      background-image: url(../../images/hero-right-S.svg);
      position: absolute;
      content: '';
      width: 75px;
      height: 65px;
      top: 0;
      right: 26px;
      bottom: 0;
      z-index: 0;
    }
    .hero-img-L {
      width: 390px;
    }
    .hero__title {
      font-size: 32px;
      font-weight: 800;
    }
    .hero__title-subtitle {
    font-size: 18px;
    margin: 0 0 20px 0;
    }
    .hero__title-text {
    font-size: 14px; 
    }
    .hero__list {
      margin: 0;
    }
    .hero__list-advice {
    display: none;
    }
    .hero__social-contacts {
    display: none;
    }
    .hero__list-order {
    width: 390px;
    }
  /* works */
  .works {
    padding: 0;
  }
  .works::before {
    content:none;
  }
  .works__inner {
    border-radius: 0;
    padding: 40px 0;
  }
    .works__slider {
      width: 430px;
      padding: 40px 0;
      margin: 0 auto;
      text-align: center;
    }
    .blog__button {
      display: none;
    }
    .works__slider {
      width: 390px;
      margin: 0 auto;
      text-align: center;
    }
    .works__title {
      margin: 0;
    }
    .works__content {
      padding: 0;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 34px;
    }
    .swiper-pagination-bullet {
    width: 20px;
    height: 3px;
    }
    /* advantages */
    .advantages {
      padding: 60px 0px 0px 0px;
    }
    .advantages__inner {
          flex-direction: column-reverse;
    }
    .advantages__content-title {
      font-size: 30px;
      margin-bottom: 30px;
      text-align: center;
    }
    .advantages__content-subtitle {
      margin-bottom: 30px;
      font-size: 14px;
      font-weight: 400;
    }
    .advantages__content__item-title {
      font-size: 18px;
      margin-bottom: 12px;
    }
    .advantages__content-item{
      padding: 20px 14px 20px 106px;
      border-radius: 16px;
    }
    .advantages__content__item-text {
      font-size: 14px;
      font-weight: 400;
    }
    .master-item::before,
    .quality-item::before,
    .hand-made-item::before{
        top: 47px;
        left: 20px;
    }
    /* steps */
    .steps {
      padding: 0;
    }
    .decor-bg {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .decor-bg::before {
      background-image: url(../../images/step-bg-S.png);
    }
    .steps__inner-decor::before {
      content:none;
    }
    .steps__title {
      font-size: 30px;
      margin-bottom: 30px;
    }
    .steps__list {
      grid-template-columns: auto;
      margin-bottom: 50px;
    }
    .step__list-content {
      gap: 10px 0;
    }
    .steps__item-title {
      font-size: 18px;
    }
    .steps__title::before {
      background-image: url(../../images/step-title-S.svg);
      width: 88px;
      height: 28px;
    }
    .steps__item-text {
      font-size: 14px;
      font-weight: 400;
    }
    .steps__item {
      padding: 22px 14px 22px 64px;
      border-radius: 16px;
    }
    .steps__item::before {
      font-size: 32px;
      font-weight: 800;
      left: 14px;
    }
    /* materials */
    .materials__title {
      font-size: 30px;
      margin-bottom: 30px;
    }
    .materials__inner {
      grid-template-columns: repeat(2, 1fr);
      gap: 0 10px;
    }
    .materials__card-text {
      font-size: 12px;
      font-weight: 600;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    /* rewiev */
    .rewiev {
      padding: 40px 0 0 0;
    }
    .rewiev__title {
      font-size: 30px;
      width: 240px;
      margin: 0 auto 30px auto;
    }
    .rewiev__inner-content {
      display: block;
    }
    .rewiev__slider {
      width: 390px;
      margin: 0 auto;
      text-align: center;
    }
    .rewiev__inner-link {
      display: inline-block;
      width: 390px;
      text-align: center;
      position: relative;
      color: rgb(68, 119, 119);
      font-size: 28px;
      font-weight: 700;
      line-height: 1.6;
      padding: 14px 63px 14px 63px;
      border: 2px solid rgb(68, 119, 119);
      border-radius: 16px;
      cursor: pointer;
    }
    .rewiev__inner-link::before {
      background-image: url(../../images/inner-link-icon.svg);
      content: '';
      position: absolute;
      width: 37px;
      height: 37px;
      left: 56px;
      top: 18px;
    }
    .rewiev__inner-link:hover {
      border: 2px solid rgb(136, 183, 183);
      color:rgb(136, 183, 183);
    }
    .opt__btn:active::before {

    }
    .rewiev__bottom-list {
      display: none;
    }
    /* dnwork */
    .dnwork {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .dnwork__title {
      font-size: 30px;
      margin-bottom: 40px;
    }
    .dnwork__inner {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px 0;
    }
    .dnwork__card {
      border-radius: 16px;
    }
    .dnwork__card img {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }
    .dnwork__card-bottom {
      padding: 34px 14px 34px 14px;
    }
    .dnwork__card-title {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .dnwork__card-text {
      font-size: 14px;
      font-weight: 400;
    }
    /* send */
    .send {
      background-image: url(../../images/send-right-S.png);
      background-position: center 28%;
      background-size: 78%;
    }
    .send::before {
      background-image: url(../../images/send-paper-S.png);
          background-position: center;
    }
    .send__left-title {
    font-size: 30px;
    width: 389px;
    }
    .send__left-subtitle {
      font-size: 14px;
    }
    .send__form {
      width: 390px;
      padding-top: 255px;
    }
    .send__form-name,
    .send__form-phone {
      font-size: 14px;
      height: 68px;
    }
    .form__load-file+.form__label-file {
      height: 68px;
    }
    .form__file-name {
      margin-left: 10px;
      height: 68px;
    }
    .form__textarea {
      width: 100%;
      font-size: 14px;
      margin-bottom: 20px;
    }
    .check-style {
      top: 5px;
    }
    .checkbox__text {
      font-size: 14px;
      width: 358px;
    }
    /* otp */
    .opt {
      padding: 100px 0;
    }
    .opt__bg::before {
      content:none;
    }
    .opt__content-title {
      font-size: 30px;
      text-align: center;
      margin-bottom: 40px;
    }
    .opt__content-subtitle {
      color: #1d1d1d;
      font-size: 14px;
      padding: 30px 0;
    }
    .opt__content-list {
      padding: 0;
    }
    .opt__content__item-title {
      font-size: 18px;
    }
    .opt__content__item-text {
      font-size: 14px;
    }
    .opt__content-item {
      padding: 20px 14px 20px 94px;
      border-radius: 16px;
      margin: 0 0 10px 0;
    }
    .opt-reklama::before,
    .opt-star::before {
      top: 58px;
      left: 14px;
    }
    .opt-price::before {
      top: 25px;
      left: 14px;
    }
  /* footer */
  .footer {
    padding: 40px 0;
  }
  .footer__inner {
    display: block;
  }
  .footer__logo-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__logo {
    margin-bottom: 50px;
  }
  .footer__logo img {
    width: 148px;
  }
  .footer__social-link img {
    width: 40px;
    height: 40px;
  }
  .footer__social__mobil-list {
    display: flex;
    gap: 0 40px;
  }
  .footer__nav-list {
    display: none;
  }
  .footer__contact-list {
    display: none;
  }
  .footer__copy {
    margin-top: 72px;
  }
}